form input,
form button {
  border: none;
  background: white;
  padding: 0.2rem;
  font-size: 2rem;
}
form button {
  color: rgb(0, 156, 218);
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 0 10px 10px 0px;
}
form input {
  border-radius: 10px 0 0 10px;
  width: 30%;
}
form button:hover {
  background: rgb(0, 58, 124);
}
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: slateblue;
  cursor: pointer;
  width: auto;
}
.filter_todo {
  padding: 0.7rem;
  border-radius: 10px;
}
 select{
    /* -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance:none;
    appearance: none; */
    outline: 0;
    box-shadow: none;
    border: 0;
    background-image: none;
}
 /* .select::after{
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.7rem;
    background: rgb(10, 0, 75);
    cursor: pointer;
    pointer-events: none;
    border-radius: 0 10px 14px 0px;
    padding-left: 1rem;
 
}   */